*{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/qGFw78.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}   
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:right;
}
nav img{
    padding: 2% 0%;
    height: 50px;
    position:relative;
    top: -12px;
    
     
}

.nav-links{
    flex:l;
    text-align:right;
    
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:2px 12px;
    position:relative;
    
}
.nav-links ul li a{
    color:rgb(237, 239, 239);
    text-decoration: none;
    font-size:20px;
    
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:white;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width:90%;
    color:aliceblue;
    position: absolute;
    
    transform:translate();
    text-align: center;
}
.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:aliceblue;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:18px;
    background:transparent;
    position:relative;
    cursor:pointer;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: white;
    transition:1s;
}
@media(max-width:700px){
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:0;
        text-align:left;
        z-index:2;   
    }

}

  
.search_box{
    width: 50%;
    position:static;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
  }
  
  .fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  
  @media screen and (max-width: 425px){
    .search_box{
      width: 95%;
    }
  }
.user-cards{
    display:grid;
    grid-template-rows:none;
    gap:.25rem;
    margin-top:1rem;
}   
.card{
    border:1px solid black;
    padding:.5rem;
}
.card > .header{
    margin-bottom:.25rem;
}
.card > .body{
    font-size: .8rem;
    color:white
}
.header #logo{
    position:absolute;
    top:10px;
    left:30px;
    font-size:30px;
    color:#ccc;
    text-transform:capitalize;
}
.main #logo0 i{
    margin-right:15px;
}
.languages{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 4%;
    
}
h1{
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-align: center;
    justify-content: center;
}
h2{
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-align: center;
    justify-content: center;
}
p{
    color:#fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    padding:10px;
    text-align: center;
    justify-content: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.language-col1{
    flex-basis: 31%;
    background-image: url('edsheeran.jpg');
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    padding:50px 12px;
    box-sizing: border-box;
    box-shadow:0px 3px 8px #fff;
    transition:300ms;
    cursor: pointer;
}
.language-col1:hover{
    box-shadow:0px 8px 28px;
    
    
}
.language-col2{
    flex-basis: 31%;
    background-image: url('ariji.jpg');
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    padding:50px 12px;
    box-sizing: border-box;
    box-shadow:0px 3px 8px #fff;
    transition:300ms;
    cursor: pointer;
}
.language-col2:hover{
    box-shadow:0px 8px 28px;
    
}
.language-col3{
    flex-basis: 31%;
    background-image: url('rabindra.webp');
    background-size: 100% 100%;
    object-fit: contain;
    border-radius:10px;
    margin-bottom: 5%;
    padding:50px 12px;
    box-sizing: border-box;
    box-shadow:0px 3px 8px #fff;
    transition:300ms;
    cursor: pointer;
}
.language-col3:hover{
    box-shadow:0px 8px 28px;
    
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.testimonials{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonial-box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    height:200px;
    box-shadow: 2px 1px 10px white;
    background-color: rgb(29, 28, 28);
    padding: 20px;
    margin:15px;
    cursor:pointer;
    transition: 300ms;
}
.testimonial-box:hover{
    box-shadow: 8px 8px 28px white;
}
.profile-pic{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-pic img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: white;
    font-size: 0.8rem;
}
.reviews{
    color: rgb(240, 239, 232);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 200px;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.client-comment{
    font-size: 0.9rem;
    color: white;
}
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
}
.footer p{
    font-size: 20px;
    font-weight: 100;
}
.iconsgaf{
    font-size: 30px;
    color: #ccc;
    word-spacing: 10px;
}
.language-col1 h3{
    color: black;
    margin-left: 25px;
}
.language-col1 p{
    font-size: 15px;
    font-weight: lighter;
}