*{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(qGFw78.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}   
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:right;
}
nav img{
    padding: 2% 0%;
    height: 50px;
    position:relative;
    top: -12px;
    
     
}

.nav-links{
    flex:l;
    text-align:right;
    
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:2px 12px;
    position:relative;
    
}
.nav-links ul li a{
    color:rgb(237, 239, 239);
    text-decoration: none;
    font-size:20px;
    
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:white;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;

}
.text-box{
    width:90%;
    color:aliceblue;
    position: absolute;
    
    transform:translate();
    text-align: center;
}

@media(max-width:700px){
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:0;
        text-align:left;
        z-index:2;   
    }

}

  

.header #logo{
    position:absolute;
    top:10px;
    left:30px;
    font-size:30px;
    color:#ccc;
    text-transform:capitalize;
}
.main #logo0 i{
    margin-right:15px;
}
form{
    width:90%;
    max-width:600px;
    
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input,textarea{
    width:100%;
    padding:10px;
    outline:0;
    border:1px solid #fff;
    color:#fff;
    background: transparent;
    font-size: 15px;;
}
label{
    height:100%;
    position: absolute;
    left:0;
    top:0;
    padding:10px;
    color:#fff;
    cursor:text;
    transition: 0.2s;
}
button{
    padding:10px 0;
    color:#fff;
    outline:none;
    background: transparent;
    border:1px solid #fff;
    width:100%;
    cursor:pointer;
}
input:focus~label,
input:valid~label,textarea:focus~label,textarea:valid~label{
    top:-35px;
    font-size:14px;
}
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;

}

.footer h1{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.footer p{
    font-size: 20px;
    font-weight: 100;
    color:white;
    text-align: center;
}
.iconsgaf{
    font-size: 30px;
    color: #ccc;
    word-spacing: 10px;
    justify-content: center;
}